*{
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}
body{
    background-color: #222;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
}

#box{
    background-color: #555;
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}

.options_box{
    display: flex;
    width: 100%;
    margin-top: 20px;

}

.controls{
    background-color: #444;
    padding: 10px;
    width: fit-content;
}

button{
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    background-color: #111;
    color: #eee;
   
}

.settings{
    flex: none;
    background-color: olive;
    padding: 10px;
}